<%- include("./partials/head.ejs") %>

  <body id="page-top">
    
    <div id="wrapper">
     
      <%- include("./partials/sideBar.ejs") %>
      

      
      <div id="content-wrapper" class="d-flex flex-column">
        
        <div id="content">
         
              <%- include("./partials/topbar.ejs") %>

          <div class="container-fluid">
            
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
             >
            <!-- entry Blogs were here -->
             
                

            
            <%- include("./partials/decard.ejs") %>
             </div>  
            <table class="table table-light">
            
              <tbody>
                <center>
                  <tr>
                 
                    <td>  <center>Name</center></td>
                    <td>  <center>Jitin Kumar Singh</center></td>
                    
                  
                  </tr>
                  <tr>
                  
                  <td>  <center>Class </center></td>
                  <td>  <center>CSE - A (III)center></td>
                  
                </tr>
                <tr>
                 
                  <td>  <center>Email</center></td>
                  <td>  <center>jitin@gmail.com</center></td>
                 
            
                </tr>
                <tr>
                 
                  <td>  <center>Contact No </center></td>
                  <td>  <center>9977353798</center></td>
                  
                
                </tr>
               
              </center>
              </tbody>
              <br><br><br><br>
            </table>
            <br><br>
            <label for="exampleFormControlTextarea1">For any correction, contact IT department</label>
        </div>

              
            </div>  
      
      
        <%- include("./partials/footer.ejs") %>
      </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
    <%- include("./partials/lout.ejs") %>
    <%- include("./partials/btrap.ejs") %>
  </body>
</html>
