<%- include("./partials/head.ejs") %>

  <body id="page-top">
   
    <div id="wrapper">
 
      <%- include("./partials/sideBar.ejs") %>
      

      <div id="content-wrapper" class="d-flex flex-column">
        
        <div id="content">
      
              <%- include("./partials/topbar.ejs") %>
          

          

              <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Grades</h1>
                
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Last Updated on - NA</h6>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>System Id</th>
                            <th>Class</th>
                            <th>Subject</th>
                            <th>MTE + ETE</th>
                            
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th>Name</th>
                            <th>System Id</th>
                            <th>Class</th>
                            <th>Subject</th>
                            <th>MTE + ETE</th>
                            
                          </tr>
                        </tfoot>
                        <tbody>
                          <tr>
                            <td>Jitin Kumar Singh</td>
                            <td>201803287</td>
                            <td>CSE - A (III)</td>
                            <td><center>CCV</center></td>
                            <td><center>NA</center></td>
                            
                          </tr>
                          
                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
      
              </div>
              <!-- /.container-fluid -->
      
            </div>
            <!-- CREATE ASSIGN COMPLETE -->

              
            </div>  
        </div>
        

      
        <%- include("./partials/footer.ejs") %>
  
      </div>
      
    </div>


    
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    
    <%- include("./partials/lout.ejs") %>

    
    <%- include("./partials/btrap.ejs") %>
  </body>
</html>
